.app-container {
  background-color: #f9fafb; 
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-body {
  display: flex;
  width: 100%;
}

.app-content {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #4b5563; 
  font-size: 16px;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 4px;
}
