.cart-container {
  border-top: 1px solid #ddd;
  padding-top: 56px;
}

/* Title */
.cart-title {
  font-size: 24px;
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}

/* Cart Item */
.cart-item {
  display: grid;
  grid-template-columns: 4fr 1fr 0.5fr;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #4b5563;
}

/* Left Section */
.cart-item-left {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.cart-image {
  width: 64px;
}

.cart-product-name {
  font-size: 14px;
  font-weight: 500;
}

.cart-details {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 8px;
}

.cart-size {
  padding: 4px 10px;
  border: 1px solid #ddd;
  background-color: #f8fafc;
}

/* Quantity Input */
.cart-quantity {
  border: 1px solid #ddd;
  max-width: 50px;
  padding: 4px 6px;
}

/* Delete Icon */
.cart-delete {
  width: 18px;
  cursor: pointer;
  margin-right: 16px;
}

/* Footer */
.cart-footer {
  display: flex;
  justify-content: flex-end;
  margin: 80px 0;
}

.cart-total-wrapper {
  width: 100%;
  max-width: 450px;
}

.checkout-btn-wrapper {
  text-align: right;
}

.checkout-btn {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 12px 32px;
  margin: 32px 0;
  border: none;
  cursor: pointer;
}

/* Responsive */
@media (min-width: 640px) {
  .cart-item {
    grid-template-columns: 4fr 2fr 0.5fr;
  }

  .cart-image {
    width: 80px;
  }

  .cart-product-name {
    font-size: 18px;
  }

  .cart-quantity {
    max-width: 80px;
  }

  .cart-delete {
    width: 20px;
  }
}

.empty-cart-message {
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
  color: #121314;
}