.cart-total {
  width: 100%;
}

.cart-total-title {
  font-size: 24px;
}

.cart-total-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  font-size: 16px;
}

.cart-total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-total-final {
  font-weight: bold;
}

.cart-total-details hr {
  border: none;
  border-top: 1px solid #e5e7eb;
}