.collection-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2.5rem;
  border-top: 1px solid #e5e7eb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (min-width: 640px) {
  .collection-container {
    flex-direction: row;
    gap: 2.5rem;
  }
}


.filter-section {
  min-width: 240px;
}

.filter-heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.dropdown-icon {
  height: 12px;
  display: block;
}

.rotate {
  transform: rotate(90deg);
}

.filter-box {
  border: 1px solid #d1d5db;
  padding: 0.75rem 1.25rem;
  margin-top: 1.5rem;
}

.filter-box.show {
  display: block;
}

@media (min-width: 640px) {
  .filter-box {
    display: block;
  }
}

.filter-title {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.filter-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #374151;
}

.filter-options input {
  width: 12px;
  margin-right: 0.5rem;
}


.products-section {
  flex: 1;
}

.products-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1rem;
}

@media (min-width: 640px) {
  .products-header {
    font-size: 1.5rem;
    flex-direction: row;
  }
}

.sort-dropdown {
  border: 2px solid #d1d5db;
  font-size: 0.875rem;
  height: 40px;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 1.5rem;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}