.hero {
  display: flex;
  border: 1px solid #9ca3af;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* Desktop */
@media (min-width: 640px) {
  .hero {
    flex-direction: row;
  }
}

.hero-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

@media (min-width: 640px) {
  .hero-left {
    width: 50%;
    padding: 0;
  }
}

.hero-text {
  color: #414141;
}

.hero-line {
  display: flex;
  align-items: center;
  gap: 8px;
}

.line {
  width: 44px;
  height: 2px;
  background-color: #414141;
}

.line.thin {
  height: 1px;
}

.hero-text p {
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .hero-text p {
    font-size: 16px;
  }
}

.hero-text h1 {
  font-size: 32px;
  line-height: 1.3;
  margin: 12px 0;
  font-family: "Prata", serif;
}

@media (min-width: 1024px) {
  .hero-text h1 {
    font-size: 48px;
  }
}

.shop-now {
  font-weight: 600;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 640px) {
  .hero-image {
    width: 50%;
  }
}