.product-item {
  margin-top: 20px;
  color: #374151;           
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.product-img-wrapper {
  overflow: hidden;
}

.product-img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.product-img-wrapper:hover .product-img {
  transform: scale(1.1);
}

.product-name {
  padding-top: 12px;
  padding-bottom: 4px;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-price {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}