.product-container {
  border-top: 2px solid #e5e7eb;
  padding-top: 2.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-wrapper {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

@media (min-width: 640px) {
  .product-wrapper {
    flex-direction: row;
  }
}

.product-images {
  display: flex;
  gap: 0.75rem;
  flex: 1;
  flex-direction: column-reverse;
}

@media (min-width: 640px) {
  .product-images {
    flex-direction: row;
  }
}

.thumbnail-list {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
}

@media (min-width: 640px) {
  .thumbnail-list {
    flex-direction: column;
    width: 18%;
    overflow-y: auto;
  }
}

.thumbnail {
  width: 24%;
  cursor: pointer;
}

@media (min-width: 640px) {
  .thumbnail {
    width: 100%;
    margin-bottom: 0.75rem;
  }
}

.main-image {
  width: 100%;
}

@media (min-width: 640px) {
  .main-image {
    width: 80%;
  }
}

.main-image img {
  width: 100%;
  height: auto;
}

.product-info {
  flex: 1;
}

.product-info h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.rating img {
  width: 12px;
}

.rating span {
  padding-left: 0.5rem;
}

.price {
  font-size: 1.875rem;
  font-weight: 500;
  margin-top: 1.25rem;
}

.description {
  margin-top: 1.25rem;
  color: #6b7280;
  max-width: 80%;
}

/* Size */
.size-section {
  margin: 2rem 0;
}

.sizes {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.size-btn {
  border: 1px solid #d1d5db;
  padding: 0.5rem 1rem;
  background: #f3f4f6;
  cursor: pointer;
}

.active {
  border-color: #f97316;
  border-width: 2px
}

/* Buttons */
.add-cart-btn {
  background: #000;
  color: #fff;
  padding: 0.75rem 2rem;
  font-size: 0.875rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-cart-btn:active {
  background: #4b5563;
}

.policy-text {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  color: #6b7280;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.product-desc-section {
  margin-top: 5rem;
}

.tabs {
  display: flex;
}

.tabs b,
.tabs span {
  border: 1px solid #d1d5db;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
}

.desc-box {
  border: 1px solid #d1d5db;
  padding: 1.5rem;
  font-size: 0.875rem;
  color: #6b7280;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
