.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 4%;
  border-bottom: 2px solid #e5e7eb;
}

.navbar-logo{
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.logout-btn {
  background-color: #4b5563; 
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 9999px;
  font-size: 12px;
  cursor: pointer;
}


@media (min-width: 640px) {
  .logout-btn {
    padding: 8px 28px;
    font-size: 14px;
  }
}