.order-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  align-items: flex-start;
  border: 2px solid #e5e7eb;
  padding: 20px;
  margin: 12px 0;
  font-size: 12px;
  color: #374151;
}

@media (min-width: 640px) {
  .order-card {
    grid-template-columns: 0.5fr 2fr 1fr;
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .order-card {
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  }
}

.order-icon {
  width: 70px;
  height: 70px;

}


.amount {
  font-size: 14px;
}

.status-select {
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
}