* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left:  16px;  
  padding-right: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (min-width: 640px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}


@media (min-width: 768px) {
  .container {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 9vw;
    padding-right: 9vw;
  }
}